

body {
    font-family: 'Roboto Mono', monospace;
    background-color: #8E806A;
    text-align: center;
}

h1 {
 font-weight: bold;
}

ul,
ol {
    text-align: justify;
    position: relative;
    left: 675px;
    max-width: 450px;
}

p {
    position: relative;
    left: 525px;
    max-width: 800px;
}

.homebut {
    border-style: solid;
    border-width: 2px;
    background-color: #C68B59;
    border-color: black;
    border-radius: 10%;
    color: wheat;
    padding: 5px;
}